<!--<div flex layout="row" layout-align="space-between center"
     class="control-text-input" style="{{me.item.mode === 'hidden' ? 'display: none' : ''}}">
    <md-input-container class="md-block" flex>
      <label>{{me.item.mode === 'hidden' ? "" : me.item.label}}</label>
      <input ng-model="me.item.value[me.item.topic]"
             ng-change="me.valueChanged({{me.item.delay}})"
             ng-disabled="me.item.disabled"
             aria-label="{{me.item.label}}"
             type="{{me.item.mode}}"/>
    </md-input-container>
</div>-->
<div flex layout="row">
    <md-input-container>    
    <label>{{me.item.mode === 'hidden' ? "" : me.item.label}}</label>
        <md-select ng-change="me.selectChanged(item,{{me.item.delay}})" placeholder="Point type on completion" ng-model="item" md-on-open="loadUsers()" style="min-width: 200px;">
          <md-option class="dynamic-select" ng-selected="item.selected" ng-value="item.key" ng-repeat="item in me.item.value">{{item[me.item.format]}}</md-option>
        </md-select>
    </md-input-container>
</div>
<!-- ng-model="me.item.value" -->
